body{
  padding: 0;
  margin: 0;
  background: black;
  font-family: 'Heebo', sans-serif;
  text-align: center;
  font-size: 1.15vw;
  font-weight:300;
}
h1 {
  font-size: 210%;
  margin: 0;
  text-transform: uppercase;
}
*>{
  box-sizing: border-box;
}
.countries_tabel_container {
  max-width: 85%;
  margin: 0 auto;
  padding: 2vw 0;
  background: gainsboro;
  min-height: 100vh;
}
.search_bar {
  background: white;
  padding: 1.5vw;
  border-radius: 1.5vw;
  width: 70%;
  margin: 1vw auto 2.5vw; 
}
table {
  border-spacing: 0;
  margin: 0 auto;    
  border-collapse: collapse; 
}
th{
    background: black;
    color: white;
    font-weight: 300;
}
th, td {
  text-align: left;
  padding: .5vw;  
}
td {
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
td:last-of-type{border-right: 0;}
td img{
  width: 4vw;
  vertical-align: middle; 
}
.checkboxes_container label {
  margin: 0 1vw;
}
.search_input {
    margin-top: 1vw;
}
label span{
  margin-right:.5vw;
}
input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}
input {
    font-size: 100%;
    font-weight: 300;
    font-family: 'Heebo', sans-serif;
}
